@media only screen and (max-width: 768px) {

#category .page-title { 
text-align: center !important; 
margin-bottom: -15px;
letter-spacing: 2px !important;
line-height: 35px !important;
}

.category-description p {
margin-top: 20px;
}  
  
}

@media (min-width: 768px){

#category .page-title {
    text-align: center !important; 
    margin-top: 25px;
    margin-bottom: 25px;
}
}

.simpleblog-socialshare-icons .btn-google-plus {
display: none;
}  

#footer .block-iqitlinksmanager-3 .mwd-payback {
    margin-top: -10px;
    margin-left: 12px;
}


#footer .mwd-sendung-verfolgen img {
    margin-left: 12px;
}

#footer-copyrights {
    padding-bottom: 100px!important;
}


.category-description blockquote
{
    text-align: center;
}

.card-body strong
{
    font-weight: bold!important;
}

@media (max-width: 768px){

.mwd-footer-newsletter {
    max-width: 90%!important;
}
}

.product-id-406 .slick-prev {
    display: none!important;
}

.product-id-406 .slick-next {
    display: none!important;
}

/*  
.product-id-202 .mwd-delivery-today {
display:none !important;
}

.product-id-201 .mwd-delivery-today {
display:none !important;
}

.product-id-388 .mwd-delivery-today {
display:none !important;
}
*/
